* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes spin {
    0% {transform: rotate(-90deg);}
    100% {transform: rotate(270deg);}
}

canvas {
}

.idle {
    animation: spin 45s linear infinite; 
}