a {
    text-decoration: none;
    color: #fa7ac5;
}

* {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    font-size: 100%; /* start value*/
    margin: auto;  /* centers the page */
    max-width: 860px;
}
 
section, header, footer {
    outline: 2px solid rgb(255, 208, 253);
    padding-bottom: 5px;
}
 
header {
    text-align: center;
}
 
.startpage h1 {
    font-size: 500%; /* Big title on the start page*/
}
 
.tagline {
    font-size: 120%;
    padding: 0.5em; /* distance to the border*/
    border-top: 3px double rgb(255, 208, 253);
    border-bottom: 3px double rgb(255, 208, 253);
    margin: 1em 0; /* distance downwards but not upwards*/
}

.menu h2 {
    margin: 0 0 1em;
    padding: 2em 0;
    background-color: #ffeaf7;  /* very light gray*/
    text-align: center;
}
 
footer {
    margin-top: 3em;
    text-align: center;
    color: rgb(189, 189, 189);
}