* {
    color: #4c4c4c;
}

body {
    background-color: #efefef;
}

#text-area {
    background-color: white;
}

p:hover {
    color: #626262;
}

button {
    background-color: #ffffff; 
}

button:hover {
    background-color: #f4f4f4; 
}