* {
    color: #efefef;
}

body {
    background-color: #4c4c4c;
}

#text-area {
    background-color: #8b8b8b;
}

p:hover {
    color: #dbdbdb;
}

button {
    background-color: #8b8b8b; 
}

button:hover {
    background-color: #777777; 
}