/* Stylesheet */
  body {
    background: rgb(252, 252, 252);
    font-family: Apple SD Gothic Neo;
    margin: 0;
    padding: 0;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    --animate-duration: 600ms;
  }
  
  li {
    display: inline-block;
    margin-right: 20px;
  }

  a {
    text-decoration: none;
    color: rgb(248, 105, 105);
  }

  header {
    background: rgb(255, 234, 243);
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 1px;
  }

  h1 {
    padding-left: 20px;
    color: rgb(248, 105, 105);
    --animate-duration: 800ms;
  }
  
  footer {
    background: rgb(255, 234, 243);
    bottom: 0;
    right: 0;
    max-width: 100%;
    position: fixed;
    padding: 5px;
  }

  h4 {
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    color: rgb(253, 137, 137);
  }

  p {
    color: rgb(248, 105, 105);
    margin: 0;
  }

  img {
    padding-left: 40px;  
    width: 100%;
    height: auto;
    max-width: 50vw;
    --animate-duration: 600ms;
  }

  iframe {
    padding-left: 40px;  
    width: 100%;
    height: 25vw;
    max-width: 50vw;
    border: 0px;
  }